.slider img {
    filter: brightness(60%);
}

.synergetic-btn-primary {
    background-color: #289BDE;
    color: white;
}

@media screen and (max-width: 576px) {
    .small-device {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .small-device h5 {
        margin-top: 20px;
        text-align: center;
    }
}

